<div id="portrait">
	<div class="header">{{localize "gcsga.sheet.portrait"}}</div>
	<div class="img_display" style="background-image: url({{actor.img}});">
		<img class="profile_img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
	</div>
</div>