<div class="item_notes">
	{{#if (or (eq this.type "advantage") (eq this.type "advantage_container"))}}
	{{#unless (eq this.data.cr -1)}}{{localize (concat "gcsga.advantage.cr." this.data.cr)}}<br>{{/unless}}
	{{/if}}
	{{#if (or (eq this.type "advantage") (eq this.type "advantage_container") (eq this.type "equipment") (eq this.type "equipment_container"))}}
	{{#each (enabledList this.modifiers)}}{{#unless (eq @index 0)}}; {{/unless}}{{this.name}}{{#if this.data.notes}} ({{this.data.notes}}){{/if}}{{/each}}
	{{#if (notEmpty (enabledList this.modifiers))}}<br>{{/if}}
	{{/if}}
	{{this.data.notes}}
</div>