<div id="prerequisites">
	<div class="header">{{localize "gcsga.prereq.header"}}</div>
	<div class="content">
		{{print attributes}}
		{{>prereq system.prereqs path="system.prereqs" config=config indent=1 attributes=attributes}}
	</div>
</div>
