<div class="prereq">
	{{#if (eq this.type "prereq_list")}}
	<i class="add-child">{{>svg shapes=(arr "--shape-circle-add")}}</i>
	<i class="add-list">{{>svg shapes=(arr "--shape-circle-vertical-ellipsis")}}</i>
	{{/if}}
</div>