#attributes {
	grid-area: attributes;
	display: grid;
	grid-template:
		"primary-attributes secondary-attributes"
		"basic-damage secondary-attributes"
		"pool-attributes pool-attributes";
	grid-template-columns: 1fr 1fr;
	gap: var(--section-gap);

	#primary-attributes {
		grid-area: primary-attributes;
	}

	#secondary-attributes {
		grid-area: secondary-attributes;
	}

	#pool-attributes {
		grid-area: pool-attributes;
	}

	#basic-damage {
		grid-area: basic-damage;
		.fieldblock3 {
			.points {
				color: transparent;
			}
			.label:nth-child(6n),
			.field:nth-child(6n-1),
			.points:nth-child(6n-2) {
				background-color: rgba(var(--color-banding), 1);
			}
		}
	}

	.points {
		font: var(--font-page-secondary-fields);
		color: rgba(var(--color-on-editable), 0.6);
	}
	.label {
		font: var(--font-page-primary-labels);
		color: rgba(var(--color-on-content), 1);
	}
	.field .input {
		text-align: right;
	}
}
