#personal {
	grid-area: personal;
	display: grid;
	grid-template: 
		"portrait identity miscellaneous points"
		"portrait description description points";
	grid-template-columns: 86px auto auto 0fr;
	gap: var(--section-gap);

	@import "portrait", "identity", "miscellaneous", "description", "points";
}