<form class="{{cssClass}} gcsga" autocomplete="off">
	<div id="sheet" class="gcs_melee_sheet">
		<div id="details">
			{{>input-text field="field" label="gcsga.weapon.usage" name="usage" data=weapon.usage type="String"}}
			{{>textarea field="field" label="gcsga.weapon.notes" name="usage_notes" data=weapon.usage_notes
			type="String"}}
			{{>input-text field="field" label="gcsga.weapon.strength" name="strength" data=weapon.strength
			type="String"}}
			<div class="label">{{localize "gcsga.weapon.damage.st"}}</div>
			<div class="field">
				<select name="damage.st" data-dtype="String">
					{{#select weapon.damage.st}}
					{{#each config.select.damage_st as |v k|}}
					<option value="{{k}}">{{localize v}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>
			{{>input-text field="field" label="gcsga.weapon.damage.base" name="damage.base" data=(diceString
			weapon.damage.base)
			type="String"}}
			{{>input-text field="field" label="gcsga.weapon.damage.modifier_per_die" name="damage.modifier_per_die"
			data=weapon.damage.modifier_per_die type="Number"}}
			{{>input-text field="field" label="gcsga.weapon.damage.armor_divisor" name="damage.armor_divisor"
			data=weapon.damage.armor_divisor type="Number"}}
			{{>input-text field="field" label="gcsga.weapon.damage.type" name="damage.type" data=weapon.damage.type
			type="String"}}
			{{>input-text field="field" label="gcsga.weapon.damage.fragmentation" name="damage.fragmentation"
			data=weapon.damage.fragmentation type="String"}}
			{{>input-text field="field" label="gcsga.weapon.damage.fragmentation_armor_divisor"
			name="damage.fragmentation_armor_divisor" data=weapon.damage.fragmentation_armor_divisor type="Number"}}
			{{>input-text field="field" label="gcsga.weapon.damage.fragmentation_type" name="damage.fragmentation_type"
			data=weapon.damage.fragmentation_type type="String"}}
			{{>input-text field="field" label="gcsga.weapon.reach" name="reach" data=weapon.reach type="String"}}
			{{>input-text field="field" label="gcsga.weapon.parry" name="parry" data=weapon.parry type="String"}}
			{{>input-text field="field" label="gcsga.weapon.block" name="block" data=weapon.block type="String"}}
		</div>
		{{>defaults weapon attributes=attributes sysPrefix=sysPrefix}}
	</div>
</form>
