.actor.sheet {
	&.character {
		@import "character";
		// Header
		background-image: linear-gradient(var(--color-focused-tab), var(--color-focused-tab));
		color: var(--color-on-focused-tab);
		border: 1px solid var(--color-header);
		font: var(--font-system);
		.window-title {
			font: inherit;
		}

		// Content Background
		.window-content {
			height: 100%;
			padding: 5px;
			// scroll-behavior: smooth;
			background: var(--color-content);

			//Scrollbar
			--color-border-highlight: var(--color-scroll-edge);
		}

		//Resize Handle
		.window-resizable-handle {
			background-color: var(--color-background);
			color: var(--color-on-background);
		}
	}
}