.gcs {
	background-image: linear-gradient(var(--color-focused-tab),black);
	color: var(--color-on-focused-tab);
	border: 1px solid var(--color-header);
	font: var(--font-system);
	.window-title {
		font: inherit;
	}
	.window-content {
		height: 100%;
		padding: 5px;
		scroll-behavior: smooth;
		background: var(--color-content);
		--color-border-highlight: var(--color-scroll-edge);
	}
	.window-resizable-handle {
		background-color: var(--color-background);
		color: var(--color-on-background);
	}
}

::-webkit-scrollbar-thumb {
	background: var(--color-scroll);
}

.gcs_actor_sheet {
	// font-size: 125%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: start;
	gap: var(--section-gap);
	.header {
		background-color: var(--color-header);
		color: var(--color-on-header);
		justify-content: center;
		text-align: center;
		padding-bottom: 2px;
	}
	.fieldblock {
		display: grid;
		grid-template-columns: 0fr 1fr;
		align-items: end;
		padding-bottom: 0.15em;
		text-align: left;
		padding-left: 2px;
		padding-right: 2px;
		white-space: nowrap;
		align-self: stretch;
		background-color: var(--color-content);
		color: var(--color-on-content);
	}
	.fieldblock3 {
		display: grid;
		grid-template-columns: 0fr 0fr 0fr;
		align-items: end;
		padding-bottom: 0.15em;
		background-color: var(--color-content);
		color: var(--color-on-content);
		align-content: baseline;
		hr {
			grid-column: 1 / span 3;
			width: 100%;
			border: none;
			background-color: var(--color-divider);
			height: 1px;
			margin: 0;
			margin-top: 0.2em;
			margin-bottom: 0.1em;
		}
		.wide {
			grid-column: 1 / span 2;
			text-align: right;
		}
	}
	.fieldblock6 {
		display: grid;
		grid-template-columns: 0fr 1fr 0fr 1fr 0fr 0fr;
		align-items: end;
		padding-bottom: 0.15em;
		background-color: var(--color-content);
		color: var(--color-on-content);
		align-content: baseline;
	}
	.label {
		text-align: left;
		padding-left: 6px;
		padding-right: 6px;
		// font-size: var(--header-font-size);
		white-space: nowrap;
		border-bottom: 1px solid transparent;
	}
	.field {
		// margin-right: 0.2em;
		// padding-left: 0.2em;
		// padding-right: 0.2em;
		text-align: left;
		border-bottom: 1px solid var(--color-editable-border);
		input.input {
			// color: var(--color-on-editable);
			background-color: var(--color-editable);
		}
		&.grey {
			// color: var(--color-on-content);
			// opacity: 0.50;
			border: none;
		}
		&.rollable {
			// background-color: var(--color-control);
			// color: var(--color-on-control);
			// input.input {
			// 	color: inherit;
			// }
			&:hover {
				background-color: var(--color-link) !important;
				color: var(--color-on-link) !important;
				input.input {
					background-color: var(--color-link) !important;
					color: var(--color-on-link) !important;
				}
			}
		}
	}
	input.input {
		min-width: 20px !important;
		border: none !important;
		height: 100% !important;
		padding: 0px !important;
		// color: var(--color-on-editable);
		// background-color: var(--color-editable);
		&:focus {
			box-shadow: none;
		}
		&:disabled {
			// background-color: var(--color-link);
			padding: 0;
			// change later
			// color: var(--color-on-link);
		}
	}
	.entry_parent[readonly] {
		padding: 0 !important;
		border-right: none !important;
	}
	.table {
		display: grid;
		background-color: var(--color-content);
		border: var(--standard-border);
		align-content: baseline;
	}
	.align_left {
		text-align: left;
	}
	.align_right {
		text-align: right;
	}
	.align_center {
		text-align: center;
	}
	.desc, .points, .reference, .roll,
	.location, .penalty, .dr, .level_number,
	.level, .max_load, .move, .dodge,
	.resist, .class, .casting_cost, .maintenance_cost,
	.casting_time, .duration, .rsl {
		&:not(.header) {
		}
	}
	.fas {
	}
	.item_notes {
	}
	#personal {
		flex-grow: 0;
		grid-area: personal;
		display: grid;
		grid-template:
			'portrait identity miscellaneous points'
			'portrait description description points';
		grid-template-columns: 92px 1fr 0fr 0fr;
		// height: 136px; don't know why this is here
		gap: var(--section-gap);
		#portrait {
			grid-area: portrait;
			display: grid;
			grid-template:
				'header'
				'portrait';
			grid-template-rows: 0fr auto min-content;
			grid-template-columns: auto;
			border: var(--standard-border);
			.img_display {
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				// width: 112.25px;
				width: 90px;
				.profile_img {
					display: block;
					height: 100%;
					width: 100%;
					opacity: 0;
				}
			}
		}
		#identity,
		#miscellaneous,
		#description,
		#points {
			display: grid;
			grid-template-rows: 0fr 1fr;
			border: var(--standard-border);
			.label {
				// margin-left: 5px;
			}
		}
		#identity {
			grid-area: identity;
		}
		#miscellaneous {
			grid-area: miscellaneous;
			.edit_lock {
				// opacity: 0.5;
				&:hover {
					opacity: 1;
				}
			}
		}
		#description {
			grid-area: description;
			grid-template:
				'header header header'
				'block1 block2 block3';
			grid-template-columns: 1fr 1fr 1fr;
			.header {
				grid-area: header;
			}
			.fieldblock:nth-child(1n + 3) {
				border-left: var(--standard-border);
			}
		}
		#points {
			grid-area: points;
			.field {
				text-align: right;
				&.noedit {
					border-bottom: 2px solid transparent;
				}
			}
		}
	}
	#stats {
		grid-area: stats;
		flex-grow: 0;
		display: grid;
		grid-template:
			'attributes hit_locations encumbrance_lifting'
			'attributes hit_locations encumbrance_lifting';
		grid-template-columns: 17fr 9fr 19fr;
		gap: var(--section-gap);
		.points {
		}
		#attributes {
			flex-grow: 0;
			grid-area: attributes;
			display: grid;
			grid-template:
				'primary_attributes secondary_attributes'
				'pool_attributes pool_attributes';
			grid-template-columns: 1fr 1fr;
			gap: var(--section-gap);
			.points {
				text-align: right;
			}
			.field, .label {
				// margin-left: 5px;
			}
			#primary_attributes,
			#secondary_attributes,
			#pool_attributes {
				display: grid;
				grid-template-rows: 0fr 0fr;
				border: var(--standard-border);
				background-color: var(--color-content);
				.field.thrust, .field.swing {
					border-bottom: none;
				}
			}
			#primary_attributes {
				grid-area: primary_attributes;
			}
			#secondary_attributes {
				grid-area: secondary_attributes;
			}
			#pool_attributes {
				grid-area: pool_attributes;
			}
			input.input {
				min-width: 2.5em;
			}
		}
		#hit_locations {
			display: grid;
			grid-area: hit_locations;
			grid-template:
				'header header header header header'
				'entry_parent roll location penalty dr';
			grid-template-columns: min-content min-content 1fr min-content min-content;
			// figure out how to scale last row to 1fr only
			// grid-template-rows: 0fr 1fr;
			border: var(--standard-border);
			> div {
				padding: 0 0.2em 0 0.2em;
				white-space: nowrap;
				width: 100%;
			}
			.body_plan {
				grid-area: header;
				border-right: none;
				border-bottom: 1px solid var(--color-divider);
			}
			.roll,
			.location.header,
			.penalty {
				border-right: 1px solid var(--color-divider);
			}
			.location.header {
				grid-column: span 2;
			}
		}
		#encumbrance_lifting {
			grid-area: encumbrance_lifting;
			display: grid;
			grid-template:
				'encumbrance'
				'lifting';
			gap: var(--section-gap);
			#encumbrance {
				border: var(--standard-border);
				grid-area: encumbrance;
				grid-template:
					'title title title title title title'
					'encumbrance_marker level_number level max_load move dodge';
				grid-template-columns: min-content min-content 1fr min-content min-content min-content;
				white-space: nowrap;
				grid-template-rows: 0fr 0fr;
				align-content: baseline;
				> div {
					padding: 0 0.2em 0 0.2em;
					white-space: nowrap;
					width: 100%;
				}
				.level,
				.max_load,
				.move {
					border-right: 1px solid var(--color-divider);
				}
				.title {
					grid-area: title;
					border-bottom: 1px solid var(--color-divider);
				}
				.level.header {
					grid-column: 1 / span 3;
				}
				.active {
					background-color: var(--color-marker);
				}
				> div:not(.header) {
					padding-left: 0.2em;
					padding-right: 0.2em;
				}
				.encumbrance_marker {
					// font-size: 11.25px;
					// height: 12px;
				}
			}
			#lifting {
				border: var(--standard-border);
				grid-area: lifting;
				grid-template:
					'header header'
					'lift label';
				grid-template-rows: 0fr;
				align-content: baseline;
				.header {
					grid-area: header;
				}
				:not(.header) {
					justify-content: center;
				}
			}
		}
	}
	#embeds {
		display: grid;
		grid-auto-columns: 1fr 1fr;
		gap: var(--section-gap);
		.header,
		.reference, .points, .level, .rsl, .uses,
		.weight, .value, .weight_total, .value_total {
			padding: 0 0.2em;
		}
		// .toggle_open {
		// 	opacity: 0.5;
		// 	&:hover {
		// 		opacity: 1;
		// 	}
		// }
	}
	#advantages {
		grid-template-columns: min-content 20px 1fr repeat(2, auto);
		grid-area: advantages;
		border: var(--standard-border);
		.desc,
		.points {
			border-right: 1px solid var(--color-divider);
		}
		.desc.header {
			grid-column: span 2;
		}
	}
	#skills {
		grid-template-columns: min-content 1fr repeat(4, auto);
		grid-area: skills;
		.desc,
		.level,
		.rsl,
		.points {
			border-right: 1px solid var(--color-divider);
		}
	}
	#spells {
		grid-template-columns: min-content 1fr repeat(10, auto);
		grid-area: spells;
		.desc,
		.resist,
		.class,
		.casting_cost,
		.maintenance_cost,
		.casting_time,
		.duration,
		.level,
		.rsl,
		.points {
			border-right: 1px solid var(--color-divider);
		}
	}
	#equipment {
		grid-template-columns: min-content auto auto 1fr repeat(6, auto);
		grid-area: equipment;
		.equipped,
		.quantity,
		.desc,
		.uses,
		.value,
		.weight,
		.value_total,
		.weight_total {
			border-right: 1px solid var(--color-divider);
		}
	}
	#other_equipment{
		grid-template-columns: min-content auto 1fr repeat(6, auto);
		grid-area: other_equipment;
		.quantity,
		.desc,
		.uses,
		.value,
		.weight,
		.value_total,
		.weight_total {
			border-right: 1px solid var(--color-divider);
		}
	}
	#notes {
		grid-template-columns: min-content 1fr 0fr;
		grid-area: notes;
		.desc {
			border-right: 1px solid var(--color-divider);
		}
	}

	#stats, #advantages, #skills, #spells, #equipment, #other_equipment, #notes {
		align-content: start;
		background-color: var(--color-content);
		color: var(--color-on-content);
		.desc, .points, .reference, .level, .rsl,
		.resist, .class, .casting_cost, .maintenance_cost,
		.casting_time, .duration, .equipped, .quantity, .uses,
		.value, .weight, .value_total, .weight_total {
			&.selected {
				background-color: var(--color-selection) !important;
				color: var(--color-on-selection) !important;
			}
		}
	}

	#personal .field, #attributes .field, #hit_locations .penalty,
	#hit_locations .dr, #encumbrance .encumbrance_marker,
	#encumbrance .level_number, #encumbrance .max_load,
	#encumbrance .move, #encumbrance .dodge, #advantages .desc,
	#advantages .points, #advantages .reference, #skills .desc,
	#skills .level, #skills .rsl, #skills .points,
	#skills .reference, #spells .desc, #spells .reist,
	#spells .class, #spells .casting_cost, #spells .maintenance_cost,
	#spells .casting_time, #spells .duration, #spells .level,
	#spells .rsl, #spells .points, #spells .reference,
	#equipment .equipped,
	#equipment .quantity, #equipment .desc, #equipment .uses,
	#equipment .value, #equipment .weight, #equipment .value_total,
	#equipment .weight_total, #equipment .reference,
	#other_equipment .quantity, #other_equipment .desc,
	#other_equipment .uses, #other_equipment .value, #other_equipment .weight,
	#other_equipment .value_total, #other_equipment .weight_total, #other_equipment .reference
	#notes .desc, #notes .reference
	{
		.fas {
			font-size: 80%;
		}
		&:not(.header) {
			font: var(--font-page-primary-fields);
			// color: green !important;
		}
		&.header {
			font: var(--font-page-primary-labels);
		}
		input.input {
			color: inherit;
		}
		.item_notes {
			font: var(--font-page-secondary-fields);
			// color: red !important;
		}
	}

	.header, #personal .label, #stats .label,
	#hit_locations .roll, #hit_locations .location,
	#encumbrance .level {
		font: var(--font-page-primary-labels);
	}

	#attributes .points {
		font: var(--font-page-secondary-fields);
	}

	.reference:hover:not(.header) {
		background-color: var(--color-link) !important;
		color: var(--color-on-link) !important;
	}

	#primary_attributes .field.thrust,
	#primary_attributes .field.swing,
	#personal .field input.input,
	#attributes .field input.input,
	#attributes .points,
	#hit_locations .penalty,
	#hit_locations .dr,
	#encumbrance .level_number,
	#encumbrance .max_load,
	#encumbrance .move,
	#encumbrance .dodge,
	#lifting .lift {
		&:not(.header) {
			// color: var(--color-on-editable) !important;
			color: var(--color-on-editable);
		}
	}

	#primary_attributes .field.thrust,
	#primary_attributes .field.swing,
	#attributes .points,
	#hit_locations .penalty,
	#hit_locations .dr,
	#encumbrance .max_load,
	#encumbrance .move,
	#encumbrance .dodge,
	#lifting .lift {
		&:not(.header) {
			// color: var(--color-on-editable) !important;
			color: var(--color-on-editable);
			// color: var(--color-on-editable-faded) !important;
		}
	}

	#primary_attributes .swing,
	#points .fieldblock .field:nth-child(4n-1),
	#points .fieldblock .field:nth-child(4n-1) input,
	#points .fieldblock .label:nth-child(4n),
	#hit_locations .entry_parent:nth-child(10n + 1),
	#hit_locations .roll:nth-child(10n + 2),
	#hit_locations .location:nth-child(10n + 3),
	#hit_locations .penalty:nth-child(10n + 4),
	#hit_locations .dr:nth-child(10n + 5),
	#encumbrance .encumbrance_marker:nth-last-child(12n + 12),
	#encumbrance .level_number:nth-last-child(12n + 11),
	#encumbrance .level:nth-last-child(12n + 10),
	#encumbrance .max_load:nth-last-child(12n + 9),
	#encumbrance .move:nth-last-child(12n + 8),
	#encumbrance .dodge:nth-last-child(12n + 7),
	#lifting .lift:nth-child(4n),
	#lifting .label:nth-child(4n+1),
	#advantages .entry_parent:nth-child(10n),
	#advantages .dropdown:nth-child(10n + 1),
	#advantages .desc:nth-child(10n + 2),
	#advantages .points:nth-child(10n + 3),
	#advantages .reference:nth-child(10n + 4),
	#skills .entry_parent:nth-child(12n + 1),
	#skills .desc:nth-child(12n + 2),
	#skills .level:nth-child(12n + 3),
	#skills .rsl:nth-child(12n + 4),
	#skills .points:nth-child(12n + 5),
	#skills .reference:nth-child(12n + 6),
	#spells .entry_parent:nth-child(24n + 1),
	#spells .desc:nth-child(24n + 2),
	#spells .resist:nth-child(24n + 3),
	#spells .class:nth-child(24n + 4),
	#spells .casting_cost:nth-child(24n + 5),
	#spells .maintenance_cost:nth-child(24n + 6),
	#spells .casting_time:nth-child(24n + 7),
	#spells .duration:nth-child(24n + 8),
	#spells .level:nth-child(24n + 9),
	#spells .rsl:nth-child(24n + 10),
	#spells .points:nth-child(24n + 11),
	#spells .reference:nth-child(24n + 12),
	#equipment .entry_parent:nth-child(20n + 1),
	#equipment .equipped:nth-child(20n + 2),
	#equipment .quantity:nth-child(20n + 3),
	#equipment .desc:nth-child(20n + 4),
	#equipment .uses:nth-child(20n + 5),
	#equipment .value:nth-child(20n + 6),
	#equipment .weight:nth-child(20n + 7),
	#equipment .value_total:nth-child(20n + 8),
	#equipment .weight_total:nth-child(20n + 9),
	#equipment .reference:nth-child(20n + 10),
	#other_equipment .entry_parent:nth-child(18n + 1),
	#other_equipment .quantity:nth-child(18n + 2),
	#other_equipment .desc:nth-child(18n + 3),
	#other_equipment .uses:nth-child(18n + 4),
	#other_equipment .value:nth-child(18n + 5),
	#other_equipment .weight:nth-child(18n + 6),
	#other_equipment .value_total:nth-child(18n + 7),
	#other_equipment .weight_total:nth-child(18n + 8),
	#other_equipment .reference:nth-child(18n + 9),
	#notes .entry_parent:nth-child(6n + 1),
	#notes .desc:nth-child(6n + 2),
	#notes .reference:nth-child(6n + 3) {
		&:not(.header) {
			background-color: var(--color-banding);
			&:not(.penalty, .dr, .lift, .level_number, .max_load, .move, .dodge, .swing, .points) {
				color: var(--color-on-banding);
			}
		}
	}
	
	.redline {
		border-bottom: 1px solid red;
	}

	.edit_lock.fa-unlock {
		color: var(--color-warning);
	}
	.dropdown {
		.toggle_open {
			padding: 0 6px;
		}
		#toggle-open, #toggle-closed {
			vertical-align: top;
			margin-top: 2px;
			width: 8px;
			height: 8px;
			> path {
				d: var(--shape-chevron-right-circle);
				fill: var(--color-on-content);
				&.toggle-open {
					transform: rotate(90deg);
					transform-origin: center;
				}
			}
		}
	}
}
