aside {
	grid-area: sidebar;
	font-family: var(--serif);
	font-style: normal;
	text-transform: uppercase;

	#portrait {
		.player-image {
			object-fit: cover;
			object-position: top;
			border: none;
			border-radius: 0;
			max-height: 178px;
			width: 100%;
			cursor: pointer;
		}
	}
	#pool_attributes {
		.pool_container {
			display: flex;
			flex-direction: column;
			.header {
				font-family: var(--serif);
				font-size: 10px;
				font-weight: bold;
				display: inline-block;
			}
			.points {
				font-family: var(--serif);
				font-size: 10px;
				font-weight: bold;
			}
			.field {
				font-family: var(--serif);
				font-weight: bold;
				font-size: 32px;
				height: 32px;
				display: flex;
				input {
					font-family: var(--serif);
				}
			}
		}
	}
}
