:root {
	--section-gap: 2px;
	--header-font-size: 80%;
	--standard-border: 1px solid var(--color-header);

	--font-system: 500 var(--fontsize-10) 'Roboto', sans-serif;
	--font-system-emphasized: 700 var(--fontsize-10) 'Roboto', sans-serif;
	--font-system-small: 500 var(--fontsize-9) 'Roboto', sans-serif;
	--font-system-small-emphasized: 700 var(--fontsize-9) 'Roboto', sans-serif;
	--font-label: 400 var(--fontsize-10) 'Roboto', sans-serif;
	--font-field: 400 var(--fontsize-10) 'Roboto', sans-serif;
	--font-secondary-fields: 400 var(--fontsize-9) 'Roboto', sans-serif;
	--font-keyboard: 500 var(--fontsize-10) 'Roboto', sans-serif;
	--font-page-primary-fields: 500 var(--fontsize-7) 'Roboto', sans-serif;
	--font-page-secondary-fields: 400 var(--fontsize-6) 'Roboto', sans-serif;
	--font-page-primary-labels: 400 var(--fontsize-7) 'Roboto', sans-serif;
	--font-page-secondary-lables: 400 var(--fontsize-6) 'Roboto', sans-serif;
	--font-page-primary-footer: 500 var(--fontsize-6) 'Roboto', sans-serif;
	--font-page-secondary-footer: 400 var(--fontsize-5) 'Roboto', sans-serif;

	--fontsize-10: 15px;
	--fontsize-9: 13.5px;
	--fontsize-8: 12px;
	--fontsize-7: 11.5px;
	--fontsize-6: 9px;
	--fontsize-5: 7.5px;
	
	
	// --font-button: 900 var(--fontsize-larger) 'Roboto', sans-serif;
	// --font-header: 600 var(--fontsize-larger) 'Roboto', sans-serif;
	// --font-primary-labels: 400 var(--fontsize-larger) 'Roboto', sans-serif;
	// --font-secondary-labels: 400 var(--fontsize-large) 'Roboto', sans-serif;
	// --font-primary-fields: 400 var(--fontsize-large) 'Roboto', sans-serif;
	// --font-secondary-fields: 400 var(--fontsize-large) 'Roboto', sans-serif;
	// --font-tooltip: 400 12px 'Roboto', sans-serif;
	// --font-page-primary-labels: 400 var(--fontsize-medium) 'Roboto', sans-serif;
	// --font-page-secondary-labels: 400 var(--fontsize-small) 'Roboto', sans-serif;
	// --font-page-primary-fields: 600 var(--fontsize-medium) 'Roboto', sans-serif;
	// --font-page-secondary-fields: 400 var(--fontsize-small) 'Roboto', sans-serif;
	// --font-page-primary-footer: 600 var(--fontsize-small) 'Roboto', sans-serif;
	// --font-page-secondary-footer: 400 var(--fontsize-smaller) 'Roboto', sans-serif;

	// --fontsize-larger: 16.25px;
	// --fontsize-large: 13.75px;
	// --fontsize-medium: 11.25px;
	// --fontsize-small: 10px;
	// --fontsize-smaller: 7.5px;

	--color-background: #eeeeee;
	--color-on-background: #000000;
	--color-content: #ffffff;
	--color-on-content: #000000;
	--color-banding: #ebebdc;
	--color-on-banding: #000000;
	--color-header: #2b2b2b;
	--color-on-header: #ffffff;
	--color-focused-tab: #e0d4af;
	--color-on-focused-tab: #000000;
	--color-current-tab: #d3cfc5;
	--color-on-current-tab: #000000;
	--color-editable: #ffffff;
	--color-on-editable: #0000a0;
	--color-on-edtiable-faded: rgba(0,0,160,0.5019608);
	--color-editable-border: #c0c0c0;
	--color-focused-editable-border: #0000c0;
	--color-selection: #0060a0;
	--color-on-selection: #ffffff;
	--color-inactive-selection: #004094;
	--color-on-inactive-selection: #e4e4e4;
	--color-scroll: rgba(192, 192, 192, 0.5019608);
	--color-scroll-rollover: #c0c0c0;
	--color-scroll-edge: #808080;
	--color-accent: #006666;
	--color-control: #f8f8ff;
	--color-on-control: #000000;
	--color-pressed-control: #0060a0;
	--color-on-pressed-control: #ffffff;
	--color-control-edge: #606060;
	--color-divider: #c0c0c0;
	--color-icon-button: #606060;
	--color-icon-button-rollover: #000000;
	--color-pressed-icon-button: #0060a0;
	--color-drop-area: #cc0033;
	--color-toolip: #fcfcc4;
	--color-on-tooltip: #000000;
	--color-search-list: #e0ffff;
	--color-on-search-list: #000000;
	--color-marker: #fcf2c4;
	--color-on-marker: #000000;
	--color-error: #f82020;
	--color-on-error: #ffffff;
	--color-warning: #f88000;
	--color-on-warning: #ffffff;
	--color-overloaded: #c04040;
	--color-on-overloaded: #ffffff;
	--color-page: #ffffff;
	--color-on-page: #000000;
	--color-page-void: #808080;
	--color-hint: #808080;
	--color-link: #00ff7f;
	--color-on-link: #000000;
	--color-pdf-link-highlight: #00ff7f;
	--color-pdf-marker-highlight: #ffff00;

	@media (prefers-color-scheme: dark) {
		--color-background: #323232;
		--color-on-background: #dddddd;
		--color-content: #202020;
		--color-on-content: #dddddd;
		--color-banding: #2a2a2a;
		--color-on-banding: #dddddd;
		--color-header: #404040; 
		--color-on-header: #c0c0c0;
		--color-focused-tab: #446600;
		--color-on-focused-tab: #dddddd;
		--color-current-tab: #293d00;
		--color-on-current-tab: #dddddd;
		--color-editable: #181818;
		--color-on-editable: #649999;
		--color-on-edtiable-faded: rgba(100,153,153,0.5019608);
		--color-editable-border: #606060;
		--color-focused-editable-border: #006666;
		--color-selection: #0060a0;
		--color-on-selection: #ffffff;
		--color-inactive-selection: #004094;
		--color-on-inactive-selection: #e4e4e4;
		--color-scroll: rgba(128,128,128,0.5019608);
		--color-scroll-rollover: #808080;
		--color-scroll-edge: #a0a0a0;
		--color-accent: #649999;
		--color-control: #404040;
		--color-on-control: #dddddd;
		--color-pressed-control: #0060a0;
		--color-on-pressed-control: #ffffff;
		--color-control-edge: 606060;
		--color-divider: #666666;
		--color-icon-button: #808080;
		--color-icon-button-rollover: #c0c0c0;
		--color-pressed-icon-button: #0060a0;
		--color-drop-area: #ff0000;
		--color-toolip: #fcfcc4;
		--color-on-tooltip: #000000;
		--color-search-list: #002b2b;
		--color-on-search-list: #cccccc;
		--color-marker: #003300;
		--color-on-marker: #dddddd;
		--color-error: #732525;
		--color-on-error: #dddddd;
		--color-warning: #c06000;
		--color-on-warning: #dddddd;
		--color-overloaded: #732525;
		--color-on-overloaded: #dddddd;
		--color-page: #101010;
		--color-on-page: #a0a0a0;
		--color-page-void: #000000;
		--color-hint: #404040;
		--color-link: #00ff7f;
		--color-on-link: #000000;
		--color-pdf-link-highlight: #00ff7f;
		--color-pdf-marker-highlight: #ffff00;
	}
}
