:root {
	--section-gap: 0.05in;
	--header-font-size: 80%;
	--standard-border: 1px solid;

	--font-button: 900 var(--fontsize-larger) 'Roboto', sans-serif;
	--font-header: 500 var(--fontsize-larger) 'Roboto', sans-serif;
	--font-primary-labels: 400 var(--fontsize-larger) 'Roboto', sans-serif;
	--font-secondary-labels: 400 var(--fontsize-large) 'Roboto', sans-serif;
	--font-primary-fields: 400 var(--fontsize-large) 'Roboto', sans-serif;
	--font-secondary-fields: 400 var(--fontsize-large) 'Roboto', sans-serif;
	--font-tooltip: 400 12px 'Roboto', sans-serif;
	--font-page-primary-labels: 400 var(--fontsize-medium) 'Roboto', sans-serif;
	--font-page-secondary-labels: 400 var(--fontsize-small) 'Roboto', sans-serif;
	--font-page-primary-fields: 500 var(--fontsize-medium) 'Roboto', sans-serif;
	--font-page-secondary-fields: 400 var(--fontsize-small) 'Roboto', sans-serif;
	--font-page-primary-footer: 500 var(--fontsize-small) 'Roboto', sans-serif;
	--font-page-secondary-footer: 400 var(--fontsize-smaller) 'Roboto', sans-serif;

	--fontsize-larger: 16.25px;
	--fontsize-large: 13.75px;
	--fontsize-medium: 11.25px;
	--fontsize-small: 10px;
	--fontsize-smaller: 7.5px;

	--color-background: #eeeeee;
	--color-on-background: #000000;
	--color-content: #ffffff;
	--color-on-content: #000000;
	--color-banding: #ebebdc;
	--color-divider: #c0c0c0;
	--color-header: #2b2b2b;
	--color-on-header: #ffffff;
	--color-focused-tab: #e0d4af;
	--color-on-focused-tab: #000000;
	--color-current-tab: #d3cfc5;
	--color-on-current-tab: #000000;
	--color-drop-area: #cc0033;
	--color-editable: #ffffff;
	--color-on-editable: #0000a0;
	--color-editable-border: #c0c0c0;
	--color-focused-editable-border: #0000c0;
	--color-selection: #0060a0;
	--color-on-selection: #ffffff;
	--color-inactive-selection: #004094;
	--color-on-inactive-selection: #e4e4e4;
	--color-scroll: rgba(192, 192, 192, 0.5);
	--color-scroll-rollover: #c0c0c0;
	--color-scroll-edge: #808080;
	--color-accent: #006666;
	--color-control: #f8f8ff;
	--color-on-control: #000000;
	--color-pressed-control: #0060a0;
	--color-on-pressed-control: #ffffff;
	--color-control-edge: #606060;
	--color-icon-button: #606060;
	--color-icon-button-rollover: #000000;
	--color-pressed-icon-button: #0060a0;
	--color-toolip: #fcfcc4;
	--color-on-tooltip: #000000;
	--color-search-list: #e0ffff;
	--color-on-search-list: #000000;
	--color-page: #ffffff;
	--color-on-page: #000000;
	--color-page-void: #808080;
	--color-marker: #fcf2c4;
	--color-on-marker: #000000;
	--color-error: #f82020;
	--color-on-error: #ffffff;
	--color-warning: #f88000;
	--color-on-warning: #ffffff;
	--color-overloaded: #c04040;
	--color-on-overloaded: #ffffff;
	--color-hint: #808080;
}
