<select name="{{path}}.qualifier.compare">
	{{#select this.qualifier.compare}}
	{{#each config.select.number_compare_strict as |v k|}}
	<option value="{{k}}">{{localize (concat "gcsga.select.number_compare_strict." v)}}</option>
	{{/each}}
	{{/select}}
</select>
{{>input-text field="field" name=(concat path ".qualifier.qualifier") data=this.qualifier.qualifier
type="Number"}}
