<form class="{{cssClass}} gcsga" autocomplete="off">
	<div id="sheet">
		<div id="details">
			{{>textarea field="field" label="gcsga.trait.notes" name="system.notes" data=system.notes type="String"}}
			{{>input-text field="field" label="gcsga.trait.reference" name="system.reference" data=system.reference
			type="String"}}
		</div>
	</div>
</form>
