#reactions,
#conditional-modifiers {
	grid-area: reactions;
	grid-template-columns: auto 1fr;
	.header {
		grid-area: auto;
	}

	.modifier:nth-child(4n + 1),
	.condition:nth-child(4n + 2) {
		&:not(.header) {
			background-color: rgb(var(--color-banding));
			color: rgb(var(--color-on-banding));
		}
	}

	.modifier,
	.condition {
		&:not(.header) {
			border-bottom: 1px solid rgb(var(--color-header));
			border-right: 1px solid rgb(var(--color-header));
			&.condition {
				border-right: none;
			}
			&:nth-last-child(-n + 2) {
				border-bottom: none;
			}
		}
	}
}

#conditional-modifiers {
	grid-area: conditional_modifiers;
}
