#skills {
	grid-area: skills;
	grid-template-columns: min-content 20px 1fr repeat(4, auto);
	.header {
		grid-area: auto;
	}
	.header.desc {
		grid-column: span 2;
	}
	.level, .points {
		text-align: right;
	}

	.entry-parent:nth-child(14n),
	.dropdown:nth-child(14n+1),
	.desc:nth-child(14n+2),
	.level:nth-child(14n+3),
	.rsl:nth-child(14n+4),
	.points:nth-child(14n+5),
	.reference:nth-child(14n+6) {
		&:not(.header) {
			background-color: var(--color-banding);
			color: var(--color-on-banding);
		}
	}

	.dropdown, .desc, .level, .rsl, .points, .reference {
		&:not(.header) {
			border-bottom: 1px solid var(--color-header);
			border-right: 1px solid var(--color-header);
			&.reference, &.dropdown {
				border-right: none;
			}
			&:nth-last-child(-n+6) {
				border-bottom: none;
			}
		}
	}
}