#skills {
	grid-area: skills;
	grid-template-columns: 1fr repeat(4, auto);
	.header {
		grid-area: auto;
	}

	.desc:nth-child(10n + 1),
	.level:nth-child(10n + 2),
	.rsl:nth-child(10n + 3),
	.points:nth-child(10n + 4),
	.reference:nth-child(10n + 5) {
		&:not(.header) {
			background-color: rgba(var(--color-banding), 1);
			color: rgba(var(--color-on-banding), 1);
		}
	}

	.dropdown,
	.desc,
	.level,
	.rsl,
	.points,
	.reference {
		&:not(.header) {
			border-bottom: 1px solid rgba(var(--color-header), 1);
			border-right: 1px solid rgba(var(--color-header), 1);
			&.reference,
			&.dropdown {
				border-right: none;
			}
			&:nth-last-child(-n + 6) {
				border-bottom: none;
			}
		}
	}
}
