#traits {
	grid-area: traits;
	grid-template-columns: min-content 1fr repeat(2, auto);
	.header {
		grid-area: auto;
	}
	
	.entry-parent:nth-child(8n+1),
	.desc:nth-child(8n+2),
	.points:nth-child(8n+3),
	.reference:nth-child(8n+4) {
		&:not(.header) {
			background-color: var(--color-banding);
			color: var(--color-on-banding);
		}
	}

	.dropdown, .desc, .points, .reference {
		&:not(.header) {
			border-bottom: 1px solid var(--color-header);
			border-right: 1px solid var(--color-header);
			&.reference, &.dropdown {
				border-right: none;
			}
			&:nth-last-child(-n+4) {
				border-bottom: none;
			}
		}
	}
}