<div id="description">
	<div class="header">{{localize "gcsga.sheet.description"}}</div>
	<div class="fieldblock">
		{{>input-text label="gcsga.sheet.gender" field="field" name="data.profile.gender" type="String" data=data.profile.gender class=(input_lock editing)}}
		{{>input-text label="gcsga.sheet.age" field="field" name="data.profile.age" type="String" data=data.profile.age class=(input_lock editing)}}
		{{>input-text label="gcsga.sheet.birthday" field="field" name="data.profile.birthday" type="String" data=data.profile.birthday class=(input_lock editing)}}
		{{>input-text label="gcsga.sheet.religion" field="field" name="data.profile.religion" type="String" data=data.profile.religion class=(input_lock editing)}}
	</div>
	<div class="fieldblock">
		{{>input-text label="gcsga.sheet.height" field="field" name="data.profile.height" type="String" data=data.profile.height class=(input_lock editing)}}
		{{>input-text label="gcsga.sheet.weight" field="field" name="data.profile.weight" type="String" data=data.profile.weight class=(input_lock editing)}}
		{{>input-text label="gcsga.sheet.sm" field="field" name="data.profile.SM" type="Number" data=(signed data.profile.SM) class=(input_lock editing)}}
		{{>input-text label="gcsga.sheet.tech_level" field="field" name="data.profile.tech_level" type="String" data=data.profile.tech_level class=(input_lock editing)}}
	</div>
	<div class="fieldblock">
		{{>input-text label="gcsga.sheet.hair" field="field" name="data.profile.hair" type="String" data=data.profile.hair class=(input_lock editing)}}
		{{>input-text label="gcsga.sheet.eyes" field="field" name="data.profile.eyes" type="String" data=data.profile.eyes class=(input_lock editing)}}
		{{>input-text label="gcsga.sheet.skin" field="field" name="data.profile.skin" type="String" data=data.profile.skin class=(input_lock editing)}}
		{{>input-text label="gcsga.sheet.handedness" field="field" name="data.profile.handedness" type="String" data=data.profile.handedness class=(input_lock editing)}}
	</div>
</div>