<div id="miscellaneous">
	<div class="header">{{localize "gcsga.sheet.miscellaneous"}}</div>
	<div class="fieldblock">
		{{>input-text label="gcsga.sheet.created_date" field="field" data=data.created_date class="disabled"}}
		{{>input-text label="gcsga.sheet.modified_date" field="field" data=data.modified_date class="disabled"}}
		{{>input-text label="gcsga.sheet.player_name" field="field" name="data.profile.player_name" data=data.profile.player_name type="String" class=(input_lock editing)}}
	</div>
</div>