<div id="points">
	<div class="header">{{data.points.total}} {{localize "gcsga.actor.points.title"}}</div>
	<div class="fieldblock">
		{{>input-text after="gcsga.actor.points.unspent" field="field" name="data.points.unspent" data=data.points.unspent type="Number" class=(input_lock editing)}}
		{{>input-text after="gcsga.actor.points.race" field="field" data=data.points.race class="disabled"}}
		{{>input-text after="gcsga.actor.points.attributes" field="field" data=data.points.attributes class="disabled"}}
		{{>input-text after="gcsga.actor.points.advantages" field="field" data=data.points.advantages class="disabled"}}
		{{>input-text after="gcsga.actor.points.disadvantages" field="field" data=data.points.disadvantages class="disabled"}}
		{{>input-text after="gcsga.actor.points.quirks" field="field" data=data.points.quirks class="disabled"}}
		{{>input-text after="gcsga.actor.points.skills" field="field" data=data.points.skills class="disabled"}}
		{{>input-text after="gcsga.actor.points.spells" field="field" data=data.points.spells class="disabled"}}
	</div>
</div>