<div id="primary-attributes">
	<div class="header">{{localize "gcsga.character.primary_attributes"}}</div>
	<div class="fieldblock3">
		{{#each primary_attributes}}
			<div class="points">[{{this.points}}]</div>
			{{>input-text field="field rollable" name=(concat "data.attributes." this.id ".current") data=this.current type="Number" class=(input_lock ../editing)}}
			<div class="label">{{this.attribute_def.combinedName}}</div>
		{{/each}}
	</div>
</div>
