@import 'trait_container';

.gcsga.item {
	min-width: 600px;
	#sheet {
		background-color: rgba(var(--color-background), 1);
		color: rgba(var(--color-on-background), 1)
	}
	.label {
		font: var(--font-label);
		transform: translateY(4px);
		text-align: right;
	}
	.field {
		display: grid;
		grid-auto-flow: dense column;
		align-items: start;
		column-gap: 9px;
		&.no-stretch {
			width: max-content;
		}
		input.input[type=text] {
			font: var(--font-field);
			height: 24px;
			width: 100%;
			border-radius: 0px;
			background-color: rgba(var(--color-editable), 1);
			color: rgba(var(--color-on-editable), 1);
			border: 1px solid rgba(var(--color-editable-border), );
			&:focus {
				box-shadow: none;
				border: 2px solid rgba(var(--color-focused-editable-border), 1);
			}
			&:disabled {
				background-color: rgba(var(--color-background), 1);
				color: rgba(var(--color-on-editable), 0); // Invisible Text
			}
			&[data-dtype="Number"] {
				width: 93px;
			}
			&.calc {
				width: 67px;
			}
		}
		.checkbox-label {
			display: grid;
			grid-template-columns: 1em auto;
			gap: 3px;
			height: 16px;
			grid-row-gap: 0px;
			font: var(--font-system);
		}
		input.input[type=checkbox] {
			appearance: none;
			margin: 0;
			background-color: rgba(var(--color-control), 1);
			color: rgba(var(--color-on-control), 1); // Redundant?
			font: inherit;
			width: 14px;
			height: 14px;
			border: 2px solid rgba(var(--color-control-edge), 1);
			border-radius: 4px;
			display: grid;
			place-content: center;
			filter: none;
			&:active {
				background-color: rgba(var(--color-pressed-control), 1);
			}
			&::before {
				content: "";
				width: 512px;
				height: 512px;
				opacity: 0;
				transform: scale(calc(8/512), calc(7/512)) translate(0px, 18px);
				background-color: rgba(var(--color-on-control), 1);
				clip-path: var(--shape-checkmark);
			}
			&:checked::before {
				opacity: 1;
			}
		}
		select {
			font: var(--font-system);
			background-color: var(--shape-chevron-right) rgba(var(--color-contolr), 1);
			color: rgba(var(--color-on-control), 1);
			border: 1px solid rgba(var(--color-control-edge), 1);
			border-radius: 3px;
			height: 21px;
			width: max-content;
			&:focus {
				box-shadow: none;
			}
		}
		.checkbox-label + .checkbox-label {
			margin-top: 1em;
		}
	}
	#details {
		display: grid;
		grid-template:
			"label field";
		grid-template-columns: max-content 1fr;
		row-gap: 4px;
		column-gap: 9px;
		vertical-align: middle;
		padding: 16px 2px 16px 16px;
	}
}