@import 'trait_container';
// @import 'trait';

.gcs-item {
	min-width: 600px;
	.window-content {
		padding: 0px;
		background: rgba(var(--color-background), 1);
	}
	#sheet {
		background-color: rgba(var(--color-background), 1);
		color: rgba(var(--color-on-background), 1);
	}
	.label {
		font: var(--font-label);
		transform: translateY(4px);
	}
	.field {
		display: grid;
		grid-auto-flow: dense column;
		align-items: start;
		column-gap: 9px;
		&.no-stretch {
			width: max-content;
		}
		input.input[type=text] {
			font: var(--font-field);
			height: 24px;
			border-radius: 0px;
			background-color: rgba(var(--color-editable), 1);
			color: rgba(var(--color-on-editable), 1);
			border: 1px solid rgba(var(--color-editable-border), 1);
			&:focus {
				box-shadow: none;
				border: 2px solid rgba(var(--color-focused-editable-border), 1);
			}
			&:disabled {
				background-color: rgba(var(--color-background), 1);
				color: rgba(var(--color-on-editable), 1);
			}
			&[data-dtype="Number"] {
				width: 93px;
			}
			&.calc {
				width: 67px;
			}
		}
		.checkbox-label {
			display: grid;
			grid-template-columns: 1em auto;
			gap: 4px;
			height: 16px;
			grid-row-gap: 0px;
			font: var(--font-system);
		}
		input[type="checkbox"] {
			appearance: none;
			margin: 0;
			background-color: rgba(var(--color-control), 1);
			font: inherit;
			width: 14px;
			height: 14px;
			border: 2px solid rgba(var(--color-control-edge), 1);
			border-radius: 4px;
			display: grid;
			place-content: center;
			filter: none;
			&:active {
				background-color: rgba(var(--color-pressed-control), 1);
			}
			// transform: translate(-2px, -3px);
		}
		input[type="checkbox"]::before {
			content: "";
			width: 132px;
			height: 127px;
			opacity: 0;
			transform: scale(calc(8/127), calc(7/132)) translate(0px, 18px);
			background-color: rgba(var(--color-on-control), 1);
			clip-path: var(--shape-checkmark-2);
		}
		input[type="checkbox"]:checked::before {
			opacity: 1;
		}
		select {
			font: var(--font-system);
			// background-color: rgba(var(--color-control), 1);
			background: var(--shape-chevron-right) rgba(var(--color-control), 1);
			color: rgba(var(--color-on-control), 1);
			border: 1px solid rgba(var(--color-control-edge), 1);
			border-radius: 3px;
			height: 21px;
		}
		.checkbox-label + .checkbox-label {
			margin-top: 1em;
		}
		// input.input[type=checkbox] {
		// 	appearance: none;
		// 	height: 140px;
		// 	width: 140px;
		// 	background-color: rgba(var(--color-control), 1);
		// 	color: rgba(var(--color-on-control), 1);
		// 	border: 1px solid rgba(var(--color-control-edge), 1);
		// 	border-radius: 2px;
		// 	&:before {
		// 		content: " ";
		// 		display: inline-block;
		// 		height: 140px;
		// 		width: 140px;
		// 		background: #DDD;
		// 	}
		// }
		// input.input:checked:before {
		// 	background: url("../assets/checkmark.svg") #FF0000;
		// 	background-color: #FF0000;
		// }
	}
	#details {
		display: grid;
		grid-template: "label field";
		grid-template-columns: max-content 1fr;
		row-gap: 4px;
		column-gap: 9px;
		vertical-align: middle;
		padding: 16px;
	}
	.align-right {
		text-align: right;
	}
}