#trait-modifiers {
	margin: 2px 16px;
	border: 1px solid rgb(var(--color-header));
	display: grid;

	> div {
		background-color: rgb(var(--color-content));
		color: rgb(var(--color-on-content));
	}

	.placeholder::after {
		content: "";
		border-right: 1px solid rgb(var(--color-header));
	}
	.placeholder.enabled::after {
		border-right: none;
	}

	grid-template-columns: min-content 1fr repeat(3, auto);
	.header {
		grid-area: auto;
		padding: var(--padding-header);
		background-color: rgb(var(--color-header));
		color: rgb(var(--color-on-header));
		border-right: 1px solid rgb(var(--color-separator));
		&.reference {
			border-right: none;
		}
	}

	.desc:nth-child(8n + 1),
	.cost:nth-child(8n + 2),
	.tags:nth-child(8n + 3),
	.reference:nth-child(8n + 4) {
		&:not(.header) {
			background-color: rgba(var(--color-banding), 1);
			color: rgba(var(--color-on-banding), 1);
			&.disabled {
				.name,
				.item-notes,
				&.points,
				&.reference {
					color: rgba(var(--color-on-banding), 0.3);
				}
			}
		}
	}
}
