.gcs_trait_sheet {
	#sheet {
		background-color: rgba(var(--color-background), 1);
		color: rgba(var(--color-on-background), 1);
	}
	.field {
		input.input[type="text"] {
			height: 24px;
			border-radius: 0px;
			background-color: rgba(var(--color-editable), 1);
			color: rgba(var(--color-on-editable), 1);
			border: 1px solid rgba(var(--color-editable-border), 1);
			&:focus {
				box-shadow: none;
				border: 2px solid rgba(var(--color-focused-editable-border), 1);
			}
			&:disabled {
				background-color: rgba(var(--color-background), 1);
				color: rgba(var(--color-on-editable), 1);
			}
		}
		input.input[type="checkbox"] {
			appearance: none;
			height: 140px;
			width: 140px;
			background-color: rgba(var(--color-control), 1);
			color: rgba(var(--color-on-control), 1);
			border: 1px solid rgba(var(--color-control-edge), 1);
			border-radius: 2px;
			&:before {
				content: " ";
				display: inline-block;
				height: 140px;
				width: 140px;
				background: #ddd;
			}
		}
		input.input:checked:before {
			// background: url("systems/gcsga/assets/checkmark.svg") #FF0000;
			background-color: #ff0000;
			clip-path: var(--shape-checkmark) rgba(var(--color-on-control), 1);
		}
	}
}
